.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.egg-info
data/
kg_repairs/*
deprecated/*
99_*
model-configs/*
models/*/*.pth
logs/*
models/baselines/full_strat1m/parquet/baselines_all.json
models/baselines/full_strat1m_minocc100/parquet/baselines_all.json
models/*/*/model.json
latex_paper/
.tools/
models/**/evaluations/*.pre-schema-v2.*
